name: Deploy

on:
  push:
    branches:
      - main
      - prod
    paths:
      - 'api/**'
      - 'webapp/**'
      - '!*.md'
      - '!*.sql'
      - '!.gitignore'

env:
  API_CONFIG_FILE: api/src/main/resources/application.properties

jobs:
  build-api:
    runs-on: episen-pcc
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build api for prod with Maven
        if: github.ref_name == 'prod'
        run: |
          cd $GITHUB_WORKSPACE/api
          mvn package -Pci-prod
      - name: Build api for integration with Maven
        if: github.ref_name == 'main'
        run: |
          cd $GITHUB_WORKSPACE/api
          mvn package -Pci-integ
      - name: Upload API artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-jar
          path: "${{ github.workspace }}/api/target/*.jar"
          if-no-files-found: 'error'

  build-front:
    runs-on: episen-pcc
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          cd $GITHUB_WORKSPACE/webapp
          npm install
      - name: Build front with npm
        run: |
          cd  $GITHUB_WORKSPACE/webapp
          npm run build
      - name: Upload front artifact
        uses: actions/upload-artifact@v4
        with:
          name: front-build
          path: "${{ github.workspace }}/webapp/build/"
          if-no-files-found: 'error'

  deploy:
    runs-on: episen-pcc
    needs: [build-api, build-front]
    steps:
      - name: Download API artifact
        uses: actions/download-artifact@v4
        with:
          name: api-jar
          path: "${{ github.workspace }}/artifact-api"
      - name: Download front artifact
        uses: actions/download-artifact@v4
        with:
          name: front-build
          path: "${{ github.workspace }}/artifact-front"
      - name: Set env variables and secrets based on branch
        run: |
          if [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
            echo "FRONT_SSH_HOST=${{ vars.INTEG_FRONT_SSH_HOST }}" >> $GITHUB_ENV
            echo "FRONT_SSH_PORT=${{ vars.INTEG_FRONT_SSH_PORT }}" >> $GITHUB_ENV
            echo "FRONT_SSH_USER=${{ vars.INTEG_FRONT_SSH_USER }}" >> $GITHUB_ENV

            echo "API_SSH_HOST=${{ vars.INTEG_API_SSH_HOST }}" >> $GITHUB_ENV
            echo "API_SSH_PORT=${{ vars.INTEG_API_SSH_PORT }}" >> $GITHUB_ENV
            echo "API_SSH_USER=${{ vars.INTEG_API_SSH_USER }}" >> $GITHUB_ENV
          elif [[ "${GITHUB_REF}" == "refs/heads/prod" ]]; then
            echo "FRONT_SSH_HOST=${{ vars.PROD_FRONT_SSH_HOST }}" >> $GITHUB_ENV
            echo "FRONT_SSH_PORT=${{ vars.PROD_FRONT_SSH_PORT }}" >> $GITHUB_ENV
            echo "FRONT_SSH_USER=${{ vars.PROD_FRONT_SSH_USER }}" >> $GITHUB_ENV

            echo "API_SSH_HOST=${{ vars.PROD_API_SSH_HOST }}" >> $GITHUB_ENV
            echo "API_SSH_PORT=${{ vars.PROD_API_SSH_PORT }}" >> $GITHUB_ENV
            echo "API_SSH_USER=${{ vars.PROD_API_SSH_USER }}" >> $GITHUB_ENV
          else
            echo "Workflow is running on wrong branch. Exiting..."
            exit 1
          fi
      - name: Deploy to frontend server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: '-zvci --delete'
          SOURCE: 'artifact-front/'
          REMOTE_HOST: ${{ env.FRONT_SSH_HOST }}
          REMOTE_PORT: ${{ env.FRONT_SSH_PORT }}
          REMOTE_USER: ${{ env.FRONT_SSH_USER }}
          TARGET: '/var/www/html/'
      - name: Deploy to api server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: '-zvci'
          SOURCE: 'artifact-api/*.jar'
          REMOTE_HOST: ${{ env.API_SSH_HOST }}
          REMOTE_PORT: ${{ env.API_SSH_PORT }}
          REMOTE_USER: ${{ env.API_SSH_USER }}
          TARGET: '/opt/pcc/api.jar'
      - name: Restarting api server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ env.API_SSH_HOST }}
          port: ${{ env.API_SSH_PORT }}
          username: ${{ env.API_SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: sudo systemctl restart pcc.service
